<div class="user-card">
  <div class="user-icon-circle">
    <i class="bx bx-user"></i>
  </div>

  <form (ngSubmit)="updateUser()">
    <label>
      <strong>Nombre:</strong>
      <input type="text" [(ngModel)]="userName" name="username" required />
    </label>

    <label for="city"><strong>Ciudad:</strong></label>
    <select id="city" [(ngModel)]="city" name="city" required>
      <option value="">Seleccione una ciudad</option>
      <option value="Madrid">Madrid</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Valencia">Valencia</option>
      <option value="Sevilla">Sevilla</option>
      <option value="Zaragoza">Zaragoza</option>
      <option value="Málaga">Málaga</option>
      <option value="Murcia">Murcia</option>
      <option value="Palma">Palma</option>
      <option value="Bilbao">Bilbao</option>
      <option value="Alicante">Alicante</option>
    </select>


    <label>
      <strong>Email:</strong>
      <input type="email" [(ngModel)]="email" name="email" required />
    </label>

    <button type="submit">Guardar cambios</button>
    @if (loading) {
      <div class="spinner-container">
        <div class="spinner"></div>
      </div>
    }

  </form>

  <button class="logout" (click)="logout()">Cerrar sesión</button>

  @if (successMessage) {
    <div class="success-message">
      {{ successMessage }}
    </div>
  }

  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }
</div>
