@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://unpkg.com/aos@next/dist/aos.css');

section{
    font-style: "Roboto", sans-serif;
    padding: 0 14%;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;   
    background: url(../../assets/images/bg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

@media (max-height: 650px) {
  .hero {
    height: 1000px;
    margin-bottom: 200px;
  }
}


.hero-img {
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
}

.hero-img img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.75);
}

/* Agregar sombras suaves alrededor de la imagen */
.hero-img img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra suave y difusa */
}


.hero-text h1{
    font-size: var(--big-font);
    font-weight: 900;
    margin: 15px 0;
}

.hero-text h5{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.hero-text p{
    width: 100%;
    max-width: 620px;
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 32px;
    color: var(--text-color);
    margin-bottom: 40px;
}

.main-hero{
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 13px 32px;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 7px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
    margin-right: 20px;
}

.btn:hover{
    transform: scale(1.1);
}

@media(max-width: 1150px){
    :root{
      --big-font: 4.6rem;
    }
    .btn{
      padding: 10px 23px;
    }
  }

.icons {
    position: absolute;
    top: 50%;
    padding: 0 7%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 35px 0;
    color: var(--text-color);
    font-size: 23px;
    transition: all .6s;
    text-decoration: none;
}

.icons a{
    text-decoration: none;
}

.icons i:hover{
    color: var(--main-color);
    transform: translateY(-5px);
}

@media(max-width: 920px){
  .hero{
    grid-template-columns: 1fr;
    height: auto;
  }
  .hero-text{
    padding-top: 130px;
  }
  .hero-img{
    height: 500px;
    width: 500px;
    margin: 0 auto;
  }
  .hero-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

@media(max-width: 570px){
    .hero{
        height: 100vh;
    }
    .hero-img{
        height: 400px;
        width: 400px;
        margin: 0 auto;
    }
    :root{
        --big-font: 4rem;
    }
}

@media(max-width: 440px){
    .hero{
        height: 100vh;
    }
    .hero-text h5{
        font-size: 15px;
    }
    .hero-img{
        height: 360px;
        width: 360px;
        margin: 0 auto;
    }
  }
  @media(max-width: 420px){
    .hero{
        height: 100vh;
    }
    .hero-text{
        font-size: 15px;
        width: 310px;
    }
    .hero-img{
        height: 310px;
        width: 310px;
        margin: 0 auto;
    }
  }  
  @media (max-width: 470px) {
    body {
      overflow-x: hidden; /* Evita scroll horizontal */
    }

    .hero {
      padding-left: 10%;   
    }
  
    nav {
      padding: 20px 5%;
    }
  
    .nav-links {
      padding: 60px 30px;
    }
  
    .nav-logo img {
      max-width: 100px;
      height: auto;
    }
  
    .hero-section {
      padding: 40px 20px;
      text-align: center;
    }
  
    .hero-section h1 {
      font-size: 2rem;
    }
  
    .hero-section p {
      font-size: 1rem;
      line-height: 1.4;
    }
  
    .hero-section .btn {
      padding: 10px 20px;
      font-size: 1rem;
      margin-top: 20px;
    }
  
    .hero-section img {
      width: 100%;
      height: auto;
      display: block;
      margin-top: 20px;
    }
  }
  