<section class="hero">
    <div class="hero-text">
        @if(!isLoggedIn) {
            <h5 data-aos="fade-right" data-aos-duration="1400">Lo que te apasiona, aquí y ahora.</h5>
        } @if(isLoggedIn) {
            <h5 data-aos="fade-right" data-aos-duration="1400">Bienvenid&commat; de nuevo {{username}} ;) <br> Vive el espectáculo. Encuentra tu evento ideal.</h5>
        }
        <h1 data-aos="zoom-in-left" data-aos-duration="1400" data-aos-delay="200">GoEvent</h1>
        <p data-aos="fade-right" data-aos-duration="1400" data-aos-delay="300">En GoEvent, te traemos los mejores eventos de tu ciudad, con toda la información que necesitas para no perderte nada. Desde conciertos, obras de teatro, festivales y mucho más. Todo lo que te apasiona, ¡a un solo clic de distancia!</p>
        
        <div class="main-hero" data-aos="flip-down" data-aos-duration="1400" data-aos-delay="400">
            <a href="/events" class="btn">Explorar Eventos</a>
        </div>
    </div>
    <div data-aos="zoom-in" data-aos-duration="1400" class="hero-img">
        <img src="assets/images/hero5.jpg" alt="">
    </div>
</section>

<div class="icons">
    <a href="https://www.facebook.com/profile.php?id=61576298916100" data-aos="fade-in" data-aos-duration="1400" data-aos-delay="600"><i class="ri-facebook-fill"></i></a>
    <a href="https://www.instagram.com/goevent_25/" data-aos="fade-in" data-aos-duration="1400" data-aos-delay="700"><i class="ri-instagram-line"></i></a>
    <a href="https://x.com/GoEvent25" data-aos="fade-in" data-aos-duration="1400" data-aos-delay="800"><i class="ri-twitter-x-line"></i></a>
</div>