.site-footer {
	background-color: var(--secondary-color);
	padding: 45px 0 20px;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--text-color);
  }
  
  .site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5;
  }
  
  .site-footer h6 {
	color: var(--text-color);
	font-size: 1.3rem;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px;
  }
  
  .site-footer a {
	color: inherit;
	text-decoration: none;
  }
  
  .site-footer .social-icons {
	text-align: right;
  }
  
  .site-footer .social-icons a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-left: 6px;
	margin-right: 0;
	border-radius: 100%;
	background-color: #33353d;
  }
  
  .copyright-text {
	margin: 0;
  }
  
  @media (max-width: 991px) {
	.site-footer [class^=col-] {
	  margin-bottom: 30px;
	}
  }
  
  @media (max-width: 767px) {
	.site-footer {
	  padding-bottom: 0;
	}
  
	.site-footer .copyright-text, .site-footer .social-icons {
	  text-align: center;
	}
  }
  
  .social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
  }
  
  .social-icons li {
	display: inline-block;
	margin-bottom: 4px;
  }
  
  .social-icons li.title {
	margin-right: 15px;
	text-transform: uppercase;
	color: #96a2b2;
	font-weight: 700;
	font-size: 13px;
  }
  
  .social-icons a {
	background-color: #eceeef;
	color: #818a91;
	font-size: 16px;
	display: inline-block;
	line-height: 44px;
	width: 44px;
	height: 44px;
	text-align: center;
	margin-right: 8px;
	border-radius: 100%;
	transition: all 0.2s linear;
  }
  
  .social-icons a:hover {
	color: #fff;
	background-color: #29aafe;
  }
  
  .social-icons a.facebook:hover {
	background-color: #3b5998;
  }
  
  .social-icons a.twitter:hover {
	background-color: #00aced;
  }
  
  .social-icons a.instagram:hover {
	background-color: #e4405f;
  }
  
  .social-icons a.linkedin:hover {
	background-color: #007bb6;
  }
  
  @media (max-width: 767px) {
	.social-icons li.title {
	  display: block;
	  margin-right: 0;
	  font-weight: 600;
	}

	.contact{
		font-size: 14px;
		text-align: center;
	}
  }
  
  .text-justify {
	max-width: 500px;
  }

  .footer-links{
	margin-left: 0px;
	padding-left: 0px;
  }

  footer a:hover {
	color: var(--main-light-color);
	transition: color 0.3s ease;
  }
  