<div class="section-header">
  <h1 class="section-title" data-aos="flip-right" data-aos-duration="1000">Eventos Guardados</h1>
  
  <div *ngIf="loading" class="loading-container">
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
  </div>

  <div *ngIf="!loading" class="event-card-container" data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-out">
    <ng-container *ngIf="showFavourites; else noFavourites">
      <div *ngFor="let event of favouriteEvents; trackBy: trackByEventId" class="event-card">
        <img class="event-image" [src]="event.images[0].url" [alt]="event.name" />
        <div class="event-info">
          <h3>{{ event.name }}</h3>
          <p class="event-date">{{ event.dates.start.localDate }}</p>
          <p class="event-state">{{ event._embedded.venues[0].state?.name ?? 'Sin estado' }}</p>
          <p class="event-state">{{ event._embedded.venues[0].name }}</p>

          <div class="event-buttons">
            <a class="event-button" [href]="event.url" target="_blank">Entradas</a>
            <button class="save-button" title="Guardar evento" (click)="saveEvent(event.id)">
              <ng-container *ngIf="loadingById[event.id]; else bookmarkIcon">
                <div class="spinner-container">
                  <div class="spinner"></div>
                </div>
              </ng-container>
              <ng-template #bookmarkIcon>
                <i class="material-icons">
                  {{ favouritesId[event.id] ? 'bookmark' : 'bookmark_border' }}
                </i>
              </ng-template>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    
    
  </div>
</div>
<ng-template #noFavourites>
      <div class="empty-container">
        <h1 class="empty">Sin eventos guardados</h1>
      </div>
</ng-template>